#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	$(MAKE)

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/lcs
	install -d $(CURDIR)/debian/lcs/lib/systemd/system
	install -m 0644 packaging/lcsd.service $(CURDIR)/debian/lcs/lib/systemd/system/lcsd.service

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start

override_dh_auto_clean:
	$(MAKE) clean
